@charset "UTF-8";
/*@import url(font-awesome.min.css);*/
@import url("http://fonts.googleapis.com/css?family=Lato:300,400");


    
/* Basic */
html, body {
    min-width: 320px;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

	body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url("../img/fond_violet.jpg") repeat center center fixed;
    /*-webkit-background-size: cover ;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	 margin: 0; */
}

	body, input, select, textarea {
		color: #444;
		font-family: "Lato", Helvetica, sans-serif;
		font-size: 12pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	a {
		color: #ecf0f1;
		text-decoration: underline;
	}
        a.block{
            color: #4dac71;
        }

		a:hover {
			text-decoration: none;
		}

	strong, b {
		color: #666;
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

.collapsible-body p {
  padding: 0.5rem;
}
	p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
    margin: 0 0 2em 0;
    text-align: justify;
	}

	h1, h2, h3, h4, h5, h6 {
    color: #666;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.35em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
          margin-bottom: 5px;
	}

h5 {
  font-size: 1.44rem;
  text-align: justify;
}

.smaller-h5 {
  font-size: 1.24rem;
}
	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

hr {
    max-width: 400px;
    border-color: #999999;
}
	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}


.collapsible-title {
  font-size: 1.24rem;
  line-height: 3rem;
  margin: 0;
}

.card-container {
  margin-bottom: 40px;
}

.share-buttons {
  margin-bottom: 10px;
}

section {
  margin-bottom: 50px;
}

.carousel .indicators .indicator-item.active {
  background-color: #1893B2;
}

.carousel .indicators .indicator-item {
  background-color: #1843b3;
  margin: 0px 4px;
}

	blockquote {
		border-left: solid 4px rgba(144, 144, 144, 0.25);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}



.text-container {
  padding: 20px;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

/* Police de l'intro */
.brand-before {
    margin: 15px 0;
    text-transform: none;
    font-size: xx-large;
}

/* Police du nom de l'auteur de l'intro */
.brand-name {
    margin: 0;
    font-size: xx-large;
    text-transform: none;
    text-align: right;
}


.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}






@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}


@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }
	

	
    .first span:nth-child(1) {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
    }
    .first span:nth-child(2) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
    }
    .first span:nth-child(3) {
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
    }
    .first span:nth-child(4) {
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
    }
    .first span:nth-child(5) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    }
    .first span:nth-child(6) {
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
    }
    .first span:nth-child(7) {
    -webkit-animation-delay: 1.7s;
            animation-delay: 1.7s;
    }
    .first span:nth-child(8) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
    }
    .first span:nth-child(9) {
    -webkit-animation-delay: 1.9s;
            animation-delay: 1.9s;
    }
    .first span:nth-child(10) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    }
    .first span:nth-child(11) {
    -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s;
    }
    .first span:nth-child(12) {
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s;
    }
    .first span:nth-child(13) {
    -webkit-animation-delay: 2.3s;
            animation-delay: 2.3s;
    }
    .first span:nth-child(14) {
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
    }
    .first span:nth-child(15) {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
    }
    .first span:nth-child(16) {
    -webkit-animation-delay: 2.6s;
            animation-delay: 2.6s;
    }
    .first span:nth-child(17) {
    -webkit-animation-delay: 2.7s;
            animation-delay: 2.7s;
    }
    .first span:nth-child(18) {
    -webkit-animation-delay: 2.8s;
            animation-delay: 2.8s;
    }
    .first span:nth-child(19) {
    -webkit-animation-delay: 2.9s;
            animation-delay: 2.9s;
    }
    .first span:nth-child(20) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    }
    .first span:nth-child(21) {
    -webkit-animation-delay: 3.1s;
            animation-delay: 3.1s;
    }
    .first span:nth-child(22) {
    -webkit-animation-delay: 3.2s;
            animation-delay: 3.2s;
    }
    .first span:nth-child(23) {
    -webkit-animation-delay: 3.3s;
            animation-delay: 3.3s;
    }
    .first span:nth-child(24) {
    -webkit-animation-delay: 3.4s;
            animation-delay: 3.4s;
    }
    .first span:nth-child(25) {
    -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s;
    }
    .first span:nth-child(26) {
    -webkit-animation-delay: 3.6s;
            animation-delay: 3.6s;
    }
    .first span:nth-child(27) {
    -webkit-animation-delay: 3.7s;
            animation-delay: 3.7s;
    }
    .first span:nth-child(28) {
    -webkit-animation-delay: 3.8s;
            animation-delay: 3.8s;
    }
    .first span:nth-child(29) {
    -webkit-animation-delay: 3.9s;
            animation-delay: 3.9s;
    }
    .first span:nth-child(30) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    }
    .first span:nth-child(31) {
    -webkit-animation-delay: 4.1s;
            animation-delay: 4.1s;
    }
    .first span:nth-child(33) {
    -webkit-animation-delay: 4.2s;
            animation-delay: 4.2s;
    }
    .first span:nth-child(34) {
    -webkit-animation-delay: 4.3s;
            animation-delay: 4.3s;
    }
    .first span:nth-child(35) {
    -webkit-animation-delay: 4.4s;
            animation-delay: 4.4s;
    }
    .first span:nth-child(36) {
    -webkit-animation-delay: 4.5s;
            animation-delay: 4.5s;
    }
    .first span:nth-child(37) {
    -webkit-animation-delay: 4.6s;
            animation-delay: 4.6s;
    }
    .first span:nth-child(38) {
    -webkit-animation-delay: 4.7s;
            animation-delay: 4.7s;
    }
    .first span:nth-child(39) {
    -webkit-animation-delay: 4.8s;
            animation-delay: 4.8s;
    }
    .first span:nth-child(40) {
    -webkit-animation-delay: 4.9s;
            animation-delay: 4.9s;
    }
    .first span:nth-child(41) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    }
    .first span:nth-child(42) {
    -webkit-animation-delay: 5.1s;
            animation-delay: 5.1s;
    }
    .first span:nth-child(43) {
    -webkit-animation-delay: 5.2s;
            animation-delay: 5.2s;
    }
    .first span:nth-child(44) {
    -webkit-animation-delay: 5.3s;
            animation-delay: 5.3s;
    }
    .first span:nth-child(45) {
    -webkit-animation-delay: 5.4s;
            animation-delay: 5.4s;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
        min-height: 0;
        padding-top: 20px;   /*Espace entre le bouton et le haut de la barre*/
        padding-bottom: 30px;  /*Espace entre le bouton et le bas de la barre*/
    }

    .navbar-header {
        display: none;
    }

    .navbar-default {
        border: none;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }

}









/* Pour le menu déroulant */

/* Style The Dropdown Button */

.dropdown-button{
    background: rgb(182, 215, 250);
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}


.btn {
    display: inline-block;
    padding: 6px 12px;  /*Espace entre le bord du bouton et le texte*/
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;  /*Arrondi les angles des boutons*/
    border-color: rgba(0,0,0,0.2);
    box-shadow: 0.5em 0.5em 0 -0.125em rgba(0,0,0,0.2), 0.5em 0.5em rgba(255, 255, 255, 0.6);
    position: relatives;
    background-color: rgb(182, 215, 250)
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f8fbff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    z-index: 999;
    will-change: width, height;
}

.dropdown-content li {
    clear: both;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;

}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected, .dropdown-content li.active.selected {
  background-color: rgba(0,0,0,0.2);
}

.dropdown-content li.divider {
  min-height: 0;
  height: 1px;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: rgba(0,0,0,0.2);
  display: block;
  line-height: 22px;
  padding: 5px 0px;
}

.dropdown-content li > span > label {
  top: 1px;
  left: 0px;
  height: 18px;
}

.dropdown-content li > a > i {
  height: inherit;
  line-height: inherit;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgba(0,0,0,0.2);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(182, 215, 250)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0.2);
}




/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		color: #666;
		display: block;
		font-size: 0.9em;
		font-weight: 400;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: none;
		border: solid 1px rgba(144, 144, 144, 0.25);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #4dac71;
			box-shadow: 0 0 0 1px #4dac71;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			content: "";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: rgba(144, 144, 144, 0.25);
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #444;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 300;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				background: rgba(144, 144, 144, 0.075);
				border-radius: 4px;
				border: solid 1px rgba(144, 144, 144, 0.25);
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #3ba666;
			border-color: #3ba666;
			color: #ffffff;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			border-color: #4dac71;
			box-shadow: 0 0 0 1px #4dac71;
		}

	input[type="checkbox"] + label:before {
		border-radius: 4px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		color: #888 !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #888 !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #888 !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #888 !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: #888 !important;
		opacity: 1.0;
	}

			border: 0;
			border-radius: 0;
			padding: 0;
		}







/* Section/Article */

section.special, article.special {
    text-align: center;
}

header.major {
    margin-bottom: 2em;
}

header.major h2 {
    font-size: 2em;
}

header.major p {
    padding: 1em 1em 0 1em;
}






/* Header */

body.landing #header {
    background-color: transparent;
    left: 0;
    position: absolute;
    top: 0;
}

#header {
    background-color: #202222;
    color: #ffffff;
    cursor: default;
    height: 4.75em;
    line-height: 4.75em;
    width: 100%;
    z-index: 10000;
    display: none;
}

#header h1 {
    color: #ffffff;
    height: inherit;
    left: 2.5em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

#header h1 a {
    font-size: 0.75em;
}

#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 2.75em;
    top: 0;
    vertical-align: middle;
}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#header nav > ul > li {
    border-radius: 4px;
    display: inline-block;
    margin-left: 1.5em;
    padding-left: 0;
}

#header nav > ul > li a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #cee8d8;
    display: inline-block;
    text-decoration: none;
}

#header nav > ul > li a:hover {
    color: #ffffff;
}

#header nav > ul > li:first-child {
    margin-left: 0;
}

#header nav > ul > li .button {
    height: 2.25em;
    line-height: 2.25em;
    margin-bottom: 0;
    padding: 0 1em;
    position: relative;
    top: -0.075em;
    vertical-align: middle;
}

#header .container {
    position: relative;
}

#header .container h1 {
    left: 0;
}

#header .container nav {
    right: 0;
}

#skel-layers-wrapper {
    padding-top: 0;
}

header {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #1893B2;
}







/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.rounded {
			border-radius: 100%;
			border: 1px solid #ffffff;
			display: inline-block;
			height: 2em;
			line-height: 2em;
			text-align: center;
			width: 2em;
		}

			.icon.rounded.big {
				font-size: 3.5em;
			}

/* Image */
    .centerimage{
        text-align:center;
        display:block;
    }
	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}
        
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

		


/* Banner */

#banner {
    background: url("images/overlay.png"), url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 16em 0em 14em;
    text-align: center;
}

#banner h2 {
    color: #ffffff;
    font-size: 3em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

#banner p {
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
}

#banner .actions {
    margin: 3em 0 0 0;
}

#banner .button {
    background-color: transparent;
    border: 1px solid #ffffff;
    font-weight: 300;
}

#banner .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

        
                



/* Layers */
#navButton .toggle {
    text-decoration: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#navButton .toggle:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    background: rgba(144, 144, 144, 0.65);
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 2.25em;
    left: 0.5em;
    line-height: 2.25em;
    position: absolute;
    text-align: center;
    top: 0.5em;
    width: 3.5em;
}

#navPanel {
    background-image: linear-gradient(70deg, #181818 50%, #1a1a1a 50%);
    color: #888;
}

#navPanel nav {
    padding: 0.5em 1.25em;
}

#navPanel nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navPanel nav ul li {
    padding: 0;
}

#navPanel nav ul li:first-child a:not(.button), #navPanel nav ul li:first-child span:not(.button) {
    border-top: 0;
}

#navPanel nav ul li a:not(.button), #navPanel nav ul li span:not(.button) {
    border-top: solid 1px rgba(144, 144, 144, 0.25);
    color: #fff;
    display: block;
    padding: 0.75em 0;
    text-decoration: none;
}

#navPanel nav .button {
    width: 100%;
}






/* Wrapper */

.wrapper {
    padding: 6em 0em 4em;
}

.wrapper.style1 {
    background-color: #3ba666;
    -moz-background-image: linear-gradient(60deg, #4dac71 50%, #3ba666 50%);
    -webkit-background-image: linear-gradient(60deg, #4dac71 50%, #3ba666 50%);
    -o-background-image: linear-gradient(60deg, #4dac71 50%, #3ba666 50%);
    -ms-background-image: linear-gradient(60deg, #4dac71 50%, #3ba666 50%);
    background-image: linear-gradient(60deg, #4dac71 50%, #3ba666 50%);
    padding: 4em 2em 2em;
    color: #ffffff;
}

.wrapper.style1 header {
    margin-bottom: 4em;
}

.wrapper.style1 h2 {
    color: #ffffff;
}

.wrapper.style1 .icon.big {
    border-color: #ffffff;
    margin-bottom: 0.5em;
}

.wrapper.style2 {
    padding: 4em 0em 2em;
}

.wrapper.style2 .title, .wrapper.style2 header {
    border-top : medium double rgba(144, 144, 144, 0.25);
    padding-top : 1.5em;
    border-bottom: medium double rgba(144, 144, 144, 0.25);
    padding-bottom: 1em;
}

.wrapper.style2 header {
    margin-bottom: 4em;
}

.wrapper.style2 .feature {
    margin: 0 0 2em 0;
}

.wrapper.style3 {
    background-color: #ecf0f1;
    -moz-background-image: linear-gradient(60deg, #ecf0f1 50%, #ecf0f1 50%);
    -webkit-background-image: linear-gradient(60deg, #ecf0f1 50%, #ecf0f1 50%);
    -o-background-image: linear-gradient(60deg, #ecf0f1 50%, #ecf0f1 50%);
    -ms-background-image: linear-gradient(60deg, #ecf0f1 50%, #ecf0f1 50%);
    background-image: linear-gradient(60deg, #ecf0f1 50%, #ecf0f1 50%);
    color: #34495e;
}
        

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    color: rgba(144, 144, 144, 0.25);
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
}

.select-wrapper select::-ms-expand {
    display: none;
}





/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px rgba(144, 144, 144, 0.25);
				padding: 0.8em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

		ul.tabular {
			list-style: outside none none;
			padding: 0px;
		}

			ul.tabular li {
				border-top: solid 1px rgba(144, 144, 144, 0.25);
				line-height: 1.75em;
				margin: 1.5em 0px 0px;
				padding-left: 7em;
				padding-top: 12px;
				position: relative;
			}

				ul.tabular li:first-child {
					border-top: 0;
					margin-top: 0;
				}

				ul.tabular li h3 {
					left: 0px;
					position: absolute;
					text-align: center;
					top: 12px;
					vertical-align: top;
					width: 1em;
				}

	dl {
		margin: 0 0 2em 0;
	}






/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #3ba666;
    border-radius: 4px;
    border: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 2.85em;
    line-height: 2.8em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    background-color: #42b972;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
    background-color: #34935a;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
.button.icon {
    padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
    margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
    font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
.button.big {
    font-size: 1.35em;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
.button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #666 !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
.button.alt:hover {
    background-color: rgba(144, 144, 144, 0.075);
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
.button.alt:active {
    background-color: rgba(144, 144, 144, 0.2);
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
.button.alt.icon:before {
    color: #888;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
.button.special {
    background-color: #4dac71;
    color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
.button.special:hover {
    background-color: #5cb67e;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
.button.special:active {
    background-color: #459a65;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
.button.disabled,
.button:disabled {
    background-color: #444 !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: #fff !important;
    cursor: default;
    opacity: 0.25;
}






/* Footer */

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

#footer {
    background: #202222;
    color: #888;
    padding: 6em 0em 4em;
}

#footer h2, #footer h3, #footer h4 {
    color: #ffffff;
}

#footer a {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #888;
}

#footer a:active, #footer a:hover {
    color: #ffffff;
}

#footer .icons .rounded {
    border-color: #888;
    font-size: 1.5em;
}

#footer .icons .rounded:active, #footer .icons .rounded:hover {
    border-color: #ffffff;
}

#footer .copyright {
    font-size: 0.9em;
    margin: 2em 0 0 0;
    padding: 0;
    text-align: center;
}

#footer .copyright li {
    border-left: solid 1px rgba(144, 144, 144, 0.25);
    display: inline-block;
    list-style: none;
    margin-left: 1.5em;
    padding-left: 1.5em;
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}





@media screen and (min-width: 600px) {
  #continents-map-container {
    padding-top: 50px;
  }

  #years-map-container {
    padding-top: 50px;
  }
}





/*#region switch element*/
.switch label input[type=checkbox]:checked + .lever {
  background-color: #46b7d4;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #1893B2;
}
.switch {
  margin-bottom: 10px;
}
/*#endregion*/



/*#region '<select>' element*/
.select-wrapper input.select-dropdown
{
  border-bottom: 1px solid #1893B2;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #1893B2;
}

.select-wrapper span.caret {
  color: #1893B2;
}
/*#endregion*/




/*#region '.tabs' element*/
.tabs .tab a {
  color: #1893B2;
}

.tabs .indicator {
  background-color: #1893B2;
}

.tabs .tab a:hover {
  color: #69cae2;
}
/*#endregion*/




/*#region medals stats panel*/
#medals-stats-container {
  padding-left: 40px;
}

.input-field label {
  color: #1893B2;
}

#gold-medal {
  fill: #FFA500;
}

#silver-medal {
  fill: #B9B9B9;
}

#bronze-medal {
  fill: #DF612A;
}
/*#endregion*/





/*#region social buttons*/
#twitter-button:hover {
  fill: #009ef8;
}
#facebook-button:hover {
  fill: #3b539a;
}
#linkedin-button:hover {
  fill: #0074b8;
}
/*#endregion*/







/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px rgba(144, 144, 144, 0.25);
			border-left: 0;
			border-right: 0;
		}

			table tbody tr:nth-child(2n + 1) {
				background-color: rgba(144, 144, 144, 0.075);
			}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			color: #666;
			font-size: 0.9em;
			font-weight: 400;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px rgba(144, 144, 144, 0.25);
		}

		table tfoot {
			border-top: solid 2px rgba(144, 144, 144, 0.25);
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px rgba(144, 144, 144, 0.25);
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}
