#CarteFranceTopPrenom {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

#CarteFranceTopPrenomHomme {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

#CourbePrenom {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
}
