@import url("https://fonts.googleapis.com/css?family=Assistant:700");
@import url("http://cbwconline.com/Fonts/Voga/stylesheet.css");
* {
  box-sizing: border-box;
}

header, footer {
  background: #343436;
  padding: 1em 3vw;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*For the footer I decided to have the three lines spaced evenly horizontally.
    The row wrap will set them horizontally but once out of room will bump to the next line.
    The justify content space around will keep them evenly spaced apart from each other and the sides. Space-between would push the outside ones to the sides, which looks good for certain elements
    align-items center keeps them centered vertically, as the h3 is larger than the p.*/
}

footer h3, footer p {
  padding: 0.5em 1em;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 112px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFF;
}

.text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing span {
  -webkit-animation: titleShow 0.11s cubic-bezier(0.25, 0.1, 0.25, 1) both;
          animation: titleShow 0.11s cubic-bezier(0.25, 0.1, 0.25, 1) both;
  font-family: 'Voga';
}
.first span:nth-child(1) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.first span:nth-child(2) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.first span:nth-child(3) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
.first span:nth-child(4) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.first span:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.second span:nth-child(1) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.second span:nth-child(2) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}
.second span:nth-child(3) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.second span:nth-child(4) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}
.second span:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.second span:nth-child(6) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
.second span:nth-child(7) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
.second span:nth-child(8) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
.second span:nth-child(9) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.second span:nth-child(10) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.second span:nth-child(11) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
.second span:nth-child(12) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
.second span:nth-child(13) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
.second span:nth-child(14) {
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}
.third span:nth-child(1) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.third span:nth-child(2) {
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}
.fourth span:nth-child(1) {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}
.fourth span:nth-child(2) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}
.fourth span:nth-child(3) {
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}
.fourth span:nth-child(4) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.fourth span:nth-child(5) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}
.fifth span:nth-child(1) {
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}
.fifth span:nth-child(2) {
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
}
.fifth span:nth-child(3) {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}
.sixth span:nth-child(1) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.sixth span:nth-child(2) {
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}
.sixth span:nth-child(3) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}
.sixth span:nth-child(4) {
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}
.sixth span:nth-child(5) {
  -webkit-animation-delay: 4.4s;
          animation-delay: 4.4s;
}
.seventh span:nth-child(1) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
.seventh span:nth-child(2) {
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s;
}
.seventh span:nth-child(3) {
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
}
.seventh span:nth-child(4) {
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}
.seventh span:nth-child(5) {
  -webkit-animation-delay: 4.9s;
          animation-delay: 4.9s;
}
.eighth span:nth-child(1) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.eighth span:nth-child(2) {
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}
.eighth span:nth-child(3) {
  -webkit-animation-delay: 5.2s;
          animation-delay: 5.2s;
}
.eighth span:nth-child(4) {
  -webkit-animation-delay: 5.3s;
          animation-delay: 5.3s;
}
.eighth span:nth-child(5) {
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
}

@-webkit-keyframes titleShow {
  0% {
    opacity: 0;
  }
  33%, 66% {
    opacity: .9;
  }
  100% {
    opacity: .5;
  }
}

@keyframes titleShow {
  0% {
    opacity: 0;
  }
  33%, 66% {
    opacity: .9;
  }
  100% {
    opacity: .5;
  }
}
body {
  margin: 0;
  font-family: "Assistant";
}

.btn {
  padding: 1em 2em;
  border: 0.125em solid #fff;
  box-shadow: 0.5em 0.5em 0 -0.125em #222, 0.5em 0.5em rgba(255, 255, 255, 0.6);
  overflow: hidden;
  position: relative;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 2;
  margin: 56px auto;
}
.btn:before {
  content: '';
  background: #fff;
  width: 150%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: rotate(-45deg) translateY(-3em);
          transform: rotate(-45deg) translateY(-3em);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: .3s;
  transition: .3s;
}
.btn:hover {
  color: #222;
  box-shadow: 1em 1em 0 -0.125em #222, 1em 1em rgba(255, 255, 255, 0.6);
}
.btn:hover:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

section {
  color: #fff;
}
section h1 {
  opacity: .10;
  font-size: 20px;
  position: relative;
}
section h1:before {
  content: '';
  position: relative;
  width: 42px;
  height: 3px;
  background: #fff;
  top: 50%;
  left: -64px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
section h2 {
  font-size: 64px;
}
section p {
  font-family: serif;
  font-size: 22px;
  opacity: .75;
}

.landing {
  background: #222;
  height: calc(100vh + 80px);
}
.landing button {
  position: relative;
}

.do + * {
  height: 200vh;
}
.do .main {
  background: #076cf1;
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
  padding: 12%;
  padding-bottom: 0;
  box-shadow: 0px 0px 80px 20px rgba(7, 108, 241, 0.4);
  border-radius: 5px;
  position: relative;
}
.do .main .img {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.do .main img {
  min-width: 100%;
}

@media (max-width: 700px) {
  .do .main {
    margin: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 12% 8% 0 8%;
    overflow: hidden;
  }
  .do .main h2 {
    font-size: 35px;
  }
  .do .main .img {
    top: 0;
  }
}
